/.idea/
/postgresql/db.sqlite3
/postgresql/config/__init__.py
/hello/config/__init__.py
/hello/pages/migrations/
/hello/pages/__init__.py
/hello/__init__.py
/book_project/accounts/__init__.py
/book_project/accounts/migrations/
book_project/config/__init__.py
/.gitignore
/book_project/pages/migrations/
/book_project/pages/__init__.py
/book_project/config/.env